<html>
    <body>
        <h1>SkyBridge</h1>
        <br>
        <div id="loging">
            <input type="password" id="user_password" placeholder="Enter password">
            <button onclick="U_password()">Click</button>
        </div>
        <br>

        <button onclick="removepass()" id="removepass">Logout</button>
        <br>

        <div id="uploadform">
            <input type="file" id="fileinput">
            <button onclick="uploadbtn()">Upload</button>
        </div>

        <ul id="list"></ul>


        <script>
            const removepassbtn  = document.getElementById("removepass")
            const loging = document.getElementById("loging")
            const user_password = document.getElementById("user_password")
            const outlist = document.getElementById("list")
            const uploadform = document.getElementById("uploadform")
            const fileinput = document.getElementById("fileinput")

            let storepassword = localStorage.getItem("passkey")

            function U_password(){
                let upassword = user_password.value
                if(upassword){
                    fetch('/loging',{
                        method:"POST",
                        headers:{ "Content-Type": "application/json" },
                        body: JSON.stringify({"passkey":upassword})
                    })
                    .then(function(response){
                        return response.json()
                    })
                    .then(function(data){
                        if(data.status == "ok"){
                            localStorage.setItem("passkey" , upassword)
                            location.reload()
                        }else if(data.status == "error"){
                            alert("Please Enter correct password")
                            location.reload()
                        }
                    })
                }
            }

            function removepass(){
                localStorage.removeItem("passkey")
                location.reload()
            }

            function uploadbtn(){
                if(fileinput.files.length > 0){
                    const filedata = new FormData()
                    filedata.append('file' , fileinput.files[0])

                    fetch('/upload',{
                        method:"POST",
                        headers:{
                            "passkey":`${storepassword}`
                        },
                        body:filedata
                    })
                    setTimeout(function(){
                       fileinput.value = "" 
                    },2000)
                    
                }
            }

            function donwload(){
                fetch('/api/files',{
                    headers:{
                        "passkey":`${storepassword}`
                    }
                })
                .then(function(response){
                    return response.json()
                })
                .then(function(data){
                    console.log(data)
                    outlist.innerHTML = ""
                    data.forEach(function(datainfo){
                        let li = document.createElement("li")
                        li.innerHTML = `<a href = "/download/${datainfo}">${datainfo}</a>`
                        outlist.appendChild(li)
                        let dltbutton = document.createElement("button")
                        dltbutton.innerHTML = "Delete"
                        dltbutton.onclick = function(){
                            deletebtn(datainfo)
                        }
                        li.appendChild(dltbutton)
                    })
                })
            }

            function deletebtn(filename){
                let user_confirm = confirm(`Do you want to delete ${filename}`)
                if(user_confirm){
                    fetch(`/delete/${filename}`,{
                        method:"POST",
                        headers:{
                            "passkey":`${storepassword}`
                        }
                    })
                }
            }

            function if_key(){
                if(storepassword){
                    loging.style.display = "none"
                }
            }

            if_key()

            function if_notkey(){
                if(!storepassword){
                    uploadform.style.display = "none"
                    outlist.style.display = "none"
                    removepassbtn.style.display = "none"


                }
            }
            if_notkey()

            user_password.addEventListener("keypress",function(e){
                if(e.key === "Enter"){
                    U_password()
                }
            })

            setInterval(donwload,1000)
        </script>
    </body>
</html>