<html>
    <body>
        <h1>SkyBridge</h1>
        <br>

        <div id="register">
            <input type="password" id="userPassword">
            <button onclick="GET()">Click</button>
        </div>

        <button onclick="rem()" id="logoutbtn">Logout</button>

        <div id="fileform">
            <input type="file" id="fileinput">
            <button onclick="upload()">Upload</button>
        </div>

        

        <ul id="list"></ul>

        <script>
            const logoutbtn = document.getElementById("logoutbtn")
            const registerForm = document.getElementById("register")
            const fileform = document.getElementById("fileform")
            const userPassword = document.getElementById("userPassword")
            const fileinput = document.getElementById("fileinput")
            const outlist = document.getElementById("list")

            let pass_key = localStorage.getItem("passkey")

            function GET(){
                let user_Password = userPassword.value
                if(user_Password){
                    fetch('/login',{
                        method:"POST",
                        headers:{
                            "Content-Type":"application/json"
                        },
                        body: JSON.stringify({"passkey":user_Password})
                    })
                    .then(function(response){
                        return response.json()
                    })
                    .then(function(data){
                        if(data.status == "ok"){
                            localStorage.setItem("passkey" , user_Password)
                            location.reload()
                        }else if(data.status == "error"){
                            alert("Please Enter correct password")
                            location.reload()
                        }
                    })
                }else{
                    alert("Enter password")
                }
            }

            function rem(){
                localStorage.removeItem("passkey")
                location.reload()
            }

            function upload(){

                if(fileinput.files.length > 0){
                    const filedata = new FormData()
                    filedata.append('file', fileinput.files[0])

                    fetch('/upload',{
                        method:"POST",
                        headers:{
                            "passkey":pass_key
                        },
                        body:filedata
                    })

                    setTimeout(function(){
                        fileinput.value = ""
                    },2000)
                }


            }

            function downlaod(){
                fetch('/api/files',{
                    headers:{
                        "passkey":pass_key
                    }
                })
                .then(function(response){
                    return response.json()
                })
                .then(function(data){
                    console.log(data)

                    outlist.innerHTML = ""
                    data.forEach(function(datainfo){
                        let li = document.createElement("li")
                        li.innerHTML = `<a href = "/download/${datainfo}">${datainfo}</a>`
                        outlist.appendChild(li)
                        let dltbutton = document.createElement("button")
                        dltbutton.innerHTML = "Delete"
                        dltbutton.onclick = function(){
                            deleteBtn(datainfo)
                        }
                        li.appendChild(dltbutton)
                    })
                })
            }
            setInterval(downlaod,1000)

            function deleteBtn(filename){
                let user_confirm = confirm(`Do you want to delete ${filename}`)
                if(user_confirm){
                    fetch(`/delete/${filename}`,{
                        method:"POST",
                        headers:{
                            "passkey":pass_key
                        }
                    })
                }
            }

            function if_passkey(){
                let pass_key = localStorage.getItem("passkey")
                if(pass_key){
                    registerForm.style.display = "none"
                }
            }
            if_passkey()

            function if_notkey(){
                let pass_key = localStorage.getItem("passkey")
                if(!pass_key){
                    fileform.style.display = "none"
                    logoutbtn.style.display = "none"
                    outlist.style.display = "none"
                }
            }
            if_notkey()

            userPassword.addEventListener("keypress" , function(e){
                if(e.key == "Enter"){
                    GET()
                }
            })
        </script>
    </body>
</html>